{% extends 'navi.html'%}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
      
    {% endblock head %}   
    
</head>
<body>
{% block content %}
    
    <div class="post-page">
        <header class="post-wrapper"> <!--제목, 설명, 이미지, hr까지-->
            
            <div class="post-header">
                <div class="title-box">
                    <div class="title">
                        <div class="fi-1-bg"></div>
                        <a href="#"></a><span>햇살론 Youth</span></a>
                    </div>
                    <h2>#나는_지원을_할테니_너는_사회진출을_하거라</h2>
                </div>
                
                <div class="function-box">

                    <!--date, 조회순, url복사-->
                    <span id="sh-link">URL 복사</span>
                    <div class="post-value">
                        <span class="date">📅 2020.08.27  </span>
                        <span class="views">  👀 0000</span>
                    </div>

                </div>
            
            </div> 
            
            <div class="post-img"> <!--post title img-->
                <img src="{% static 'img/post_finance_1.jpg'%}">
            </div> 

            <hr>

        </header>

        <div class="post-contents">

            <img class="post-logo" src='{% static "img\tutor-real-logo_3_2.png" %}' alt="TUTOREAL">

            <div class="title-box">
                <div class="title">
                    <span id="highlight"> 햇살론 Youth </span>
                </div>
                <h2><!--부제--></h2>
            </div>
            <p>대학생·청년의 금융애로를 해소하고 학업 및 취업 준비에 전념할 수 있도록 지원하여</p>
            <p>성공적인 사회진출👣과 안정적인 경제활동💰을 지원하기 위한 서민금융상품</p>
        </div>

        <div class = "postbox-wrapper">
            <div>  
                <div class="post-menu">
                    <a id="who" href="#who">신청 자격</a>
                    <a href="#how">신청 방법</a>
                    <a href="#etc">기타</a>
                    <a href="#ques">Q&A</a>
                </div>
                <div class="post-box"> <!-- one : bold한 내용, two : 일반, three : 설명 text, four : li로 작성된 붙어있는 text, ip : 링크-->
                    <div class="post-box1">
                        <p>햇살론Youth의 대상은 <span id="highlight">만 19세 이상부터 만 34세 이하이면서 연 소득 3천5백만 원 이하</span>의 대학생, 청년 등으로</p>
                        <p>크게 <span id="red">취업준비생</span>과 <span id="blue">사회초년생</span>으로 구분한대. 해당되는지 확인해봐❗</p>
                        <p><span id="red">취업준비생</span> – 대학(원)생, 학점은행제 수강자,미취업청년</p>
                        <p><span id="blue">사회초년생</span> – 중소기업에 1년 이하 재직 중인 자</p>
                        <p id="gray">(아쉽지만 개인사업자의 경우나 본인 소유의 재산이 과다한 경우에는 보증대상에서 제외된다는 사실😢)</p>
                        <br>
                        <p id="min">❗❗ 세부사항 홈페이지 참고</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="post-menu">
                    <a href="#who">신청 자격</a>
                    <a id="how" href="#how">신청 방법</a>
                    <a href="#etc">기타</a>
                    <a href="#ques">Q&A</a>
                </div>
                <div class="post-box">
                    <div class="post-box1">
                        <p><span id="highlight">서민금융진흥원 앱</span>을 통해서만 신청 가능하니까 앱 설치 필수✨</p>
                        
                        <br>

                        <h2>보증신청 및 약정👌</h2>
                        <p>1) 서민금융진흥원 앱(App)을 통해 기본 자격요건 확인 및 보증 신청</p>
                        <p>2) 금융교육 이수(보증 신청일 기준 6개월 이내 미 이수 시, 보증약정 체결 불가❗)</p>
                        <p>3) 서민금융통합지원센터(전국 31개, 예약 필수) 방문 상담 및 보증심사✔</p>
                        <p>4) 보증승인 시 약정체결🤝 </p>

                        <br>

                        <h2>대출신청 및 약정, 실행👍</h2>
                        <p>1) 햇살론Youth 협약은행(기업·신한·전북은행 중 원하는 은행) 앱(App)을 통해 대출신청 </p>
                        <p>2) 은행의 대출심사✔ </p>
                        <p>3) 대출승인 시 약정체결🤝 </p>
                        <p>4) 대출실행 ❗❗ 세부사항 홈페이지 참고</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="post-menu">
                    <a href="#who">신청 자격</a>
                    <a href="#how">신청 방법</a>
                    <a id="etc" href="#etc">기타</a>
                    <a href="#ques">Q&A</a>
                </div>
                <div class="post-box">
                    <div class="post-box1">
                        <h2>1. 재학/취준 기간을 고려해 보증기간(최대 15년) 동안 *중도상환 수수료가 없다는 게 장점이야😍 </h2>
                        <br>
                        <h2>2. 내 상황에 따라 대출금리, 보증료율, *거치기간, 보증기간이 다르니 확인해보길 바라🔍 </h2>
                        <br> <!--=================='확인해보길'에서 hover 또는 onclick시 팝업으로 표가 뜨는 기능 필요======-->
                        <h2>3. 한도🤚</h2>
                        <p>❗ *동일인 1인 최대 1천2백만 원까지만 대출 가능하고 대출받은 뒤 동 금액을 다 갚아도 다시 쓸 수 없어.</p>
                        <P>❗ 1년에 최대 6백만 원까지만 대출 가능해. </P>
                        <P>❗ 일반생활자금으로는 6개월에 3백만 원까지만 대출 가능해. </P>
                        <P>❗ 특정용도자금(학업·취업준비자금/의료비/주거비)으로는 1년에 6백만 원까지만 대출 가능해</P>
                        <P>(증빙 불가 시 보증지원이 제한될 수 있으니까 자금 용도 확인 제출 서류 상 필수기재내용 꼼꼼히 확인하는 거 잊지마❕)</P>
                        <br>
                        <h2>4. 은행별 우대 서비스✨가 다르니 확인한 후 합리적인 선택하길 바라🤞 </h2>
                        <p id="min">❗❗ 세부사항 홈페이지 참고</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="post-menu">
                    <a href="#who">신청 자격</a>
                    <a href="#how">신청 방법</a>
                    <a href="#etc">기타</a>
                    <a id="ques" href="#ques">Q&A</a>
                </div>
                <div class="post-box">
                    <div class="post-box1">
                        <p><span id="qna">Q. </span> 타 정책서민금융상품을 이용/대출을 보유 중인데 햇살론Youth를 이용할 수 있나요?</p>
                        <p><span id="qna">A. </span> 해당 정책서민금융상품/대출을 <span id="highlight">정상적으로 이용 중</span>(연체자 등 제외)이며 <span id="highlight">자격요건을 갖추면</span> 이용 가능합니다. 다만 <span id="highlight">과도한 부채를 보유하고 있는 경우에는 보증이 제한</span>될 수 있습니다.</p>
                        <br>
                        <p><span id="qna">Q. </span> 제출이 필요한 서류는 무엇이 있나요? </p>
                        <p><span id="qna">A. </span> 제출이 필요한 서류는 <span id="highlight">앱을 통한 보증신청 완료 시 문자 등으로 안내</span>할 예정입니다. </p>
                        <br>
                        <p><span id="qna">Q. </span> 햇살론Youth는 서금원 앱을 통해서만 신청해야 하나요? </p>
                        <p><span id="qna">A. </span> 네. 햇살론Youth는 <span id="highlight">앱 전용 상품</span>으로 <span id="highlight">서금원 앱을 통해서만 신청이 가능</span>합니다. 일부 스마트폰의 경우 제조사에서 OS 업그레이드를 지원하지 않아 서금원 앱을 설치할 수 없는 것으로 알고 있습니다만, 동 OS 기준은 앱이 작동하기 위한 최소한의 조건으로, <span id="highlight">서금원 앱이 설치되지 않는 경우 햇살론Youth 이용이 어렵습니다.</span></p>

                    </div>
                </div>
            </div>
            <div class="ref">
                <div class="hash">
                    <span>#청년</span> <span>#금융</span> <span>#청년대출</span> <span>#자금마련</span> <span>#취업준비</span> <span>#햇살론</span>
                </div>
                <div class="reference">
                    <h2>참고자료</h2>
                    <p>서민금융진흥원>서민금융 한눈에>생계·주거자금>햇살론Youth</p>
                    <a href="#" onclick="window.open('https://www.kinfa.or.kr/index.do')">https://www.kinfa.or.kr/index.do</a>
                </div>
            </div>
        </div> 

    </div>
        
    <div id="TopButton" class = "go-top">
        <img class="up-arrow" src='{% static "img/up_grey_arrow.png" %}' alt="up-arrow"> 맨 위로 
    </div>

    <!-- URL 복사 js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script>
        $(document).on("click", "#sh-link", function(e) { 
        // 링크복사 시 화면 크기 고정 
        $('html').find('meta[name=viewport]').attr('content', 'width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no'); 
        var html = "<input id='clip_target' type='text' value='' style='position:absolute;top:-9999em;'/>";
        $(this).append(html); var input_clip = document.getElementById("clip_target"); 
        //현재 url 가져오기
        var _url = $(location).attr('href'); 
        $("#clip_target").val(_url);
        if (navigator.userAgent.match(/(iPod|iPhone|iPad)/)) { var editable = input_clip.contentEditable;
        var readOnly = input_clip.readOnly; 
        input_clip.contentEditable = true; 
        input_clip.readOnly = false; 
        var range = document.createRange(); 
        range.selectNodeContents(input_clip); 
        var selection = window.getSelection(); 
        selection.removeAllRanges(); 
        selection.addRange(range); 
        input_clip.setSelectionRange(0, 999999); 
        input_clip.contentEditable = editable; 
        input_clip.readOnly = readOnly; 
        } else { 
            input_clip.select(); 
        } try { 
            var successful = document.execCommand('copy'); 
            input_clip.blur(); 
            if (successful) { 
            alert("URL이 복사 되었습니다. 원하시는 곳에 붙여넣기 해 주세요."); 
        // 링크복사 시 화면 크기 고정 
        $('html').find('meta[name=viewport]').attr('content', 'width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=yes'); 
        } else { 
        alert('이 브라우저는 지원하지 않습니다.'); 
        } } catch (err) {
            alert('이 브라우저는 지원하지 않습니다.');
            } }); //클립보드 복사
    </script>

    <!--맨 위로 가기 버튼 js-->
    <script>
    $(function() {     
        $("#TopButton").click(function() {
            $('html,body').animate({scrollTop:0},600);
        });
    }); 
    </script>

{%endblock content%}    
</body>
</html>