{% extends 'navi.html'%}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>    
    {% block head %}
      
    {% endblock head %}

</head>
<body>
{% block content %}
        <header id="home-header">

        </header>
        
        <div id="finance-contents" class="wrapper">

            <div class="contents-header"> <!--이름을 다시 지어보자...-->
                <div class="title">
                    <div class="sub-bg"></div>
                    <a href="#"></a><span>금융 💸</span></a>
                </div>

                <div id="sort" class="wrapper">
                    <div class="select_wrap">
                        <ul class="default_option">
                            <li>
                                <div class="option update">
                                    <p>업데이트 순</p>
                                </div>
                            </li>
                        </ul>
                        <ul class="select_ul">
                            <li>
                                <div class="option new">
                                    <p>최신 순</p>
                                </div>
                            </li>
                            <li>
                                <div class="option click">
                                    <p>조회 순</p>
                                </div>  
                            </li>
                            <li>
                                <div class="option title">
                                    <p>제목 순</p>
                                </div>  
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <hr>

            <div class="contents">
                <div class="item">
                    <img class="img">
                    <p class="title">TITLE</p>
                    <div class="explain">
                        <p class="ex">example</p>
                        <p>2020.08.08</p>
                    </div>
                </div>
            
            </div>

        </div>

        <footer>

        </footer>
        </div>
{%endblock content%}
</body>
</html>