{% extends 'navi.html'%}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
      
    {% endblock head %}   
    
</head>
<body>
{% block content %}
    
    <div class="post-page">
        <header class="post-wrapper"> <!--제목, 설명, 이미지, hr까지-->
            
            <div class="post-header">
                <div class="title-box">
                    <div class="title">
                        <div class="post-bg"></div>
                        <a href="#"></a><span>주택임대차보호법</span></a>
                    </div>
                    <h2>#주거_관련_필수_상식</h2>
                </div>
                
                <div class="function-box">

                    <!--date, 조회순, url복사-->
                    <span id="sh-link">URL 복사</span>
                    <div class="post-value">
                        <span class="date">📅 2020.00.00  </span>
                        <span class="views">  👀 0000</span>
                    </div>

                </div>
            
            </div> 
            
            <div class="post-img"> <!--img로 넣을지 box로 넣을지-->
                <img src="{% static 'img/post_house_1.jpg'%}">
            </div> <!--end img-->

            <hr>

        </header>

        <div class="post-contents">

            <img class="post-logo" src='{% static "img\tutor-real-logo_3_2.png" %}' alt="TUTOREAL">

            <div class="title-box">
                <div class="title">
                    <div class="contents-bg"></div>
                    <span>주택임대차보호법</span>
                </div>
                <h2>'주택임대차법'</h2>
            </div>
            <p>주거용 건물의 *임대차에 관하여 「민법」에 대한 특례를 규정함으로써 </p>
            <p>국민 주거생활의 안정을 보장함을 목적으로 하는 법률</p>
        </div>

        <div class = "postbox-wrapper">
            <div>
                <div class="post-menu">
                    <a id="who" href="#who">적용범위</a>
                    <a href="#how">주의사항</a>
                    <a href="#etc">해야할 일</a>
                    <a href="#ques">Q&A</a>
                </div>
                <div class="post-box">
                    <div class="post-box1">
                        <li id="two">· 주택의 실제 용도와 주된 목적이 주거용이어야 한다. <br>· 점포의 일부를 주거로 사용하는 경우 적용되지 않을 수 있다. (미등기 주택은 보호됨)</li>
                    </div>
                </div>
            </div>
            <div>
                <div class="post-menu">
                    <a href="#who">적용범위</a>
                    <a id="how" href="#how">주의사항</a>
                    <a href="#etc">해야할 일</a>
                    <a href="#ques">Q&A</a>
                </div>
                <div class="post-box">
                    <div class="post-box1">
                        <p id="one">1. 등기부등본을 주의깊게 살펴봐야 한다. · </p>
                        <li id="two">· *임대인이 등기부등본 상의 소유자인지 신분증을 보고 확인해야 한다. <br>
                        · 등기부등본에 가압류, 가처분, 가등기, 저당권 등이 되어있는지 확인해야 한다. <br>
                        · 주택의 다른 일부분을 임차한 자가 있는 경우 보증금을 확실히 회수할 수 있는지 확인해야 한다. </li>
                        <p id="one">2. 임대인의 대리인과 계약서 작성 시 위임장과 신분증으로 대리권을 확인해야 한다.  </li>
                        <li id="two">· 임대인과 직접 통화해 확인하는 것이 좋다. </li>
                        <p id="one">3. *전대차하는 경우, 반드시 소유자의 동의 후 계약해야 한다. </li>
                        <li id="two">· 소유자의 동의 없을 경우 임차권 주장할 수 없고 보증금 반환도 청구할 수 없다. </li>
                        <li id="two">Tip! 주택임대차표준계약서에 임차인이 알아야 할 내용이 기재되어 있으니, 출력해서 사용하세요! (분쟁 예방 가능) <br>
                        * [법무부 홈페이지] - [법무정보] - [각 지방자치단체 홈페이지] 에서 출력하세요.</li>
                    </div>
                </div>
            </div>
            <div>
                <div class="post-menu">
                    <a href="#who">적용범위</a>
                    <a href="#how">주의사항</a>
                    <a id="etc" href="#etc">해야할 일</a>
                    <a href="#ques">Q&A</a>
                </div>
                <div class="post-box">
                    <div class="post-box1">
                        <p id="one">1. *대항력을 얻기 위해 임차한 주택에서 거주하고, 주민등록 전입신고를 해야 한다. </p>
                        <li id="two">전입신고 다음날부터 대항력이 발생한다. <br>
                        가족들의 전입신고 시기가 다른 경우 가장 빠른 신고일을 기준일로 한다. </li>
                        <p id="one">2. *우선 변제권을 취득하기 위해 주민센터 또는 동사무소에서 임대차계약서에 확정일자 받아야 한다.</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="post-menu">
                    <a href="#who">적용범위</a>
                    <a href="#how">주의사항</a>
                    <a href="#etc">해야할 일</a>
                    <a id="ques" href="#ques">Q&A</a>
                </div>
                <div class="post-box">
                    <div class="post-box1">
                        <p id="one">1. 선순위 임차인의 권리 </p>
                        <li id="two">Q. 임차인이 전입신고를 할 때에 등기부등본에 다른 권리자가 없었는데, 나중에 매매나 경매가 진행되는 경우 어떻게 대처해야 할까? <br>
                        A. 즉시 기본 임대인에게 계약해지를 통지하면서 보증금 반환을 청구하거나, 계속해서 그 주택에 거주하다가 임대차 기간이 종료했을 때 매수인이나 경락인에게 보증금 반환을 청구할 수 있다. 확정일자를 받아둔 경우 경매법원에 배당요구기간 만료일까지 권리신고 및 배당요구를 할 수 있다. <li>
                        <p id="one">2. 소액임차인과 *최우선 변제 </p>
                        <li id="two">Q. 보증금이 일정액 이하이면 주택이 경매되었을 때에 가장 먼저 보증금을 돌려받을 수 있을까? <br>
                        A. 보증금이 일정액 이하일 경우 전입신고 후 실제 거주 중일 때, 주택이 경매되면 보증금의 일부를 다른 채권자보다 가장 우선적으로 돌려받을 수 있다. (서울의 경우 보증금 9,500만원 이하일 경우 3,200만원 최우선 변제) <li>
                        <p id="one">3. 임대차기간과 묵시의 갱신 </p>
                        <li id="two">Q. 소유자로부터 임대차기간이 종료되기 2주 전에 보증금을 인상하거나, 기간만료와 동시에 주택을 비워달라는 통지를 받았는데, 임대차기간이 끝나면 집을 비워줘야 할까? <br>
                        A. 임대인이 임대차기간이 끝나기 6개월부터 1개월 전까지 임차인에게 임대를 끝내겠다는 통지를 했다면 임대차는 종료된다. 하지만 임대차기간이 1개월도 남지 않은 시점에서 통지를 할 경우 그 통지는 효력이 없고 임대차는 자동으로 연장되어, 임차인은 보증금의 증액없이 2년 간 더 살 수 있다. 임차인도 더 거주하기를 원하지 않는 경우 임대차기간이 끝나기 1개월 전까지 임대차를 끝내겠다는 통지를 하여야 한다. 다만 임대차기간이 끝나도 보증금을 돌려받지 않았다면 임대차는 계속 유지된다. <li>
                        <p id="one">4. 임대차기간 </p>
                        <li id="two">Q. 임대인의 요구로 임대차기간을 1년으로 했는데 더 오래 살 수 있는 방법이 있을까? <br>
                        A. 임대인의 요구로 임대차기간을 2년 미만으로 정하거나 혹은 기간을 정하지 않은 경우라도 임차인을 2년 동안 거주할 수 있다. 그러나 임차인의 사정으로 2년 미만의 임대차기간으로 계약한 경우에는 불가능하다.<li>

                    </div>
                </div>
            </div>
        </div> 
    </div>

    <div id="TopButton" class = "go-top">
        <img class="up-arrow" src='{% static "img/up_grey_arrow.png" %}' alt="up-arrow"> 맨 위로 
    </div>


    <!-- URL 복사 js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script>
        $(document).on("click", "#sh-link", function(e) { 
        // 링크복사 시 화면 크기 고정 
        $('html').find('meta[name=viewport]').attr('content', 'width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no'); 
        var html = "<input id='clip_target' type='text' value='' style='position:absolute;top:-9999em;'/>";
        $(this).append(html); var input_clip = document.getElementById("clip_target"); 
        //현재 url 가져오기
        var _url = $(location).attr('href'); 
        $("#clip_target").val(_url);
        if (navigator.userAgent.match(/(iPod|iPhone|iPad)/)) { var editable = input_clip.contentEditable;
        var readOnly = input_clip.readOnly; 
        input_clip.contentEditable = true; 
        input_clip.readOnly = false; 
        var range = document.createRange(); 
        range.selectNodeContents(input_clip); 
        var selection = window.getSelection(); 
        selection.removeAllRanges(); 
        selection.addRange(range); 
        input_clip.setSelectionRange(0, 999999); 
        input_clip.contentEditable = editable; 
        input_clip.readOnly = readOnly; 
        } else { 
            input_clip.select(); 
        } try { 
            var successful = document.execCommand('copy'); 
            input_clip.blur(); 
            if (successful) { 
            alert("URL이 복사 되었습니다. 원하시는 곳에 붙여넣기 해 주세요."); 
        // 링크복사 시 화면 크기 고정 
        $('html').find('meta[name=viewport]').attr('content', 'width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=yes'); 
        } else { 
        alert('이 브라우저는 지원하지 않습니다.'); 
        } } catch (err) {
            alert('이 브라우저는 지원하지 않습니다.');
            } }); //클립보드 복사
    </script>

    <!--맨 위로 가기 버튼 js-->
    <script>
    $(function() {     
        $("#TopButton").click(function() {
            $('html,body').animate({scrollTop:0},600);
        });
    }); 
    </script>

{%endblock content%}    
</body>
</html>