{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TUTOREAL</title>
    <link rel='stylesheet' href='{% static "style.css" %}'/>
</head>
<body>
    <div id="home">
        <nav id="navigation wrapper">
            <a href="main.html"><img id="logo" src="" alt="TUTOREAL"></a>
            <ul id="nav-list">
                <li><a href="">소개</a></li>
                <li><a href="">달력</a></li>
                <li><a href="">금융</a></li>
                <li><a href="">복지</a></li>
                <li><a href="">주거</a></li>
            </ul>
            <!-- search box -->
        </nav>

        <header>
        </header>
        
        <div>

        </div>

        <footer>

        </footer>

    </div> <!--end home-->
</body>
</html>