{% extends 'navi.html'%}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    
    {% endblock head %}  
    <script>
        alert("경고!")
    </script>
</head>
<body>
{% block content %}
<script>
    window.onload = function() {
        alert("🚨주의🚨\n 이 사이트는 PC / 모바일만을 지원하며, 크롬 사용을 권장합니다.");
    };
    // 초기화면에선 로드 후 팝업이 뜨지만 로고를 눌러서 재 이동시 로드되기 전에 팝업이 뜸
    // 팝업이 최초 1번만 뜨게 만들기 필요!
</script>

    <div id="home">
        <header id="home-header">
            <div class="frame"></div>
            <div class="main-img">
                <!--img slider-->
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1" ></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2" ></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="3" ></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="4" ></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                        <img src="{% static 'img/ex_img.png'%}" class="d-block w-100">
                        </div>
                        <div class="carousel-item">
                        <img src="{% static 'img/ex_img2.png'%}" class="d-block w-100">
                        </div>
                        <div class="carousel-item">
                        <img src="{% static 'img/ex_img3.png'%}" class="d-block w-100">
                        </div>
                         <div class="carousel-item">
                        <img src="{% static 'img/ex_img4.png'%}" class="d-block w-100">
                        </div>
                         <div class="carousel-item">
                        <img src="{% static 'img/ex_img5.png'%}" class="d-block w-100">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="frame"></div>
      
        </header>
        
        <div id="home-contents" class="wrapper">

            <div class="title">
                <div></div>
                <a href="#"></a><span>이 달의 튜터리얼!</span></a>
            </div>
            
        
            <div class="contents">
                
                <div class="item">
                    <a href="{% url 'post'%}">
                     <!--해당 컨텐츠 세부페이지로 이동-->
                        <img class="img">
                        <p class="title">TITLE</p>
                        <div class="explain">
                            <p>example</p>
                            <p class="date">2020.08.08</p>
                        </div>
                    </a>
                </div>
                
                <div class="item">
                    <a href="{% url 'post'%}">
                     <!--해당 컨텐츠 세부페이지로 이동-->
                        <img class="img">
                        <p class="title">TITLE</p>
                        <div class="explain">
                            <p>example</p>
                            <p class="date">2020.08.08</p>
                        </div>
                    </a>
                </div>

                <div class="item">
                    <a href="{% url 'post'%}">
                     <!--해당 컨텐츠 세부페이지로 이동-->
                        <img class="img">
                        <p class="title">TITLE</p>
                        <div class="explain">
                            <p>example</p>
                            <p class="date">2020.08.08</p>
                        </div>
                    </a>
                </div>
            
            </div>
        
        </div>

    </div> <!--end home-->


{%endblock content%}
</body>
</html>