{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--font/noto sans-->

    {% block head %}
    {% endblock head %}
    <!-- bootstrap4-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>  

    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='{% static "css/style.css" %}'/> <!-- 우선시 되야 할 css-->

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script>
		$(document).ready(function(){
			$(".default_option").click(function(){
			  $(this).parent().toggleClass("active");
			})

			$(".select_ul li").click(function(){
			  var currentele = $(this).html();
			  $(".default_option li").html(currentele);
			  $(this).parents(".select_wrap").removeClass("active");
			})
		});
	</script>

</head>
<body>
    <div id="home-navi">
        <div class="nav-wrapper">
        <!-- bootstrap으로 추가한 nav start -->
        <nav class="navbar navbar-expand-xl navbar-light">
        <div class="container-xl">
            <div id="imgpadding">
            <a class="navbar-brand" href="{% url 'main' %}"><img class="logo" src='{% static "img/tutor-real-logo_3.png" %}' alt="TUTOREAL"></a>
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07XL" aria-controls="navbarsExample07XL" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample07XL">
            <div class="container-fluid">
            <ul class="row navbar-nav nav-list">
                <li class="nav-item liw">
                <a id="nav_introduce" href="{% url 'intro' %}" onmouseover="hover(this)" onmouseout="out(this)">소개</a>
                </li>
                <li class="nav-item liw">
                <a id="nav_calendar" href="" onmouseover="hover(this)" onmouseout="out(this)">달력</a>
                </li>
                <li class="nav-item liw">
                <a id="nav_finance" href="{% url 'finance' %}" onmouseover="hover(this)" onmouseout="out(this)">금융</a>
                </li>
                <li class="nav-item liw">
                <a id="nav_welfare" href="{% url 'welfare' %}" onmouseover="hover(this)" onmouseout="out(this)">복지</a>
                </li>
                <li class="nav-item liw">
                <a id="nav_house" href="{% url 'house' %}" onmouseover="hover(this)" onmouseout="out(this)">주거</a>
              </li>
            </ul>
            </div>
            <form class="form-inline my-2 my-md-0">
                <input class="form-control" type="text" placeholder="search..." aria-label="search">
            </form>
            </div>
        </div>
        </nav>
        <!-- bootstrap으로 추가한 nav end -->
    </div>
    </div>

    <script>
        let nav_finance = document.getElementById("nav_finance");
        let nav_welfare = document.getElementById("nav_welfare");
        let nav_house = document.getElementById("nav_house");

        console.log(nav_finance.innerHTML);
        console.log(nav_welfare.innerHTML);
        console.log(nav_house.innerHTML);

        let link = document.location.pathname;
        console.log(link);
        console.log(typeof link);

        function hover(obj){
            obj.style.color="#5FFCE7";
        }

         switch(link){
            case '/finance/':
                nav_introduce.style.color="#B2B2B2" //소개 blur
                nav_calendar.style.color="#B2B2B2" //달력 blur
                nav_welfare.style.color="#B2B2B2" //복지 blur
                nav_house.style.color="#B2B2B2" //주거 blur
                break;
            case '/welfare/':
                nav_introduce.style.color="#B2B2B2" //소개 blur
                nav_calendar.style.color="#B2B2B2" //달력 blur
                nav_finance.style.color="#B2B2B2" //금융 blur
                nav_house.style.color="#B2B2B2" //주거 blur
                break;
            case '/house/':
                nav_introduce.style.color="#B2B2B2" //소개 blur
                nav_calendar.style.color="#B2B2B2" //달력 blur
                nav_finance.style.color="#B2B2B2" //금융 blur
                nav_welfare.style.color="#B2B2B2" //복지 blur
                break;
        }

        function out(obj){
            if(link=='/finance/'){//금융일때
                obj.id=="nav_finance" ? obj.style.color="#3B48F2" : obj.style.color="#B2B2B2";
            }else if(link=='/welfare/'){//복지일때
                obj.id=="nav_welfare" ? obj.style.color="#3B48F2" : obj.style.color="#B2B2B2";
            }else if(link=='/house/'){//주거일때
                obj.id=="nav_house" ? obj.style.color="#3B48F2" : obj.style.color="#B2B2B2";
            }else{
                obj.style.color="#3B48F2";
            }
        }
    </script>

    <main>
        {% block content %}
        {%endblock content%}
    </main>

    <footer>
        <div id="footer">       
            <nav class="footer-wrapper wrapper">       
                <img class="flogo" src='{% static "img/footer-logo.png" %}' alt="FOOTER"></a>
                <div class="footer-detail">
                    <div >
                        <p>팀명 : 튜터리얼</p>
                        <p>대표메일 : xxxxx@naver.com</p>
                        <img class="insta" src='{% static "img/instagram.png" %}' alt="INSTAGRAM">　@tutor__real</a>
                    </div>
                    <div>
                        <p>이용 약관 및 정책 │ 고객문의 │ 광고문의</p>
                    </div>  
                    <div>
                        <p>멋쟁이 사자처럼 8기</p>
                        <p>서울특별시 강남구 봉은사로 82길 13</p>
                    </div>  
                </div>  
            </nav>      
        </div>
    </footer>
</body>
</html>