{% extends 'navi.html'%}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
      
    {% endblock head %}   
    
</head>
<body>
{% block content %}
    
    <div class="post-page">
        <header class="post-wrapper"> <!--제목, 설명, 이미지, hr까지-->
            
            <div class="post-header">
                <div class="title-box">
                    <div class="title">
                        <div class="post-bg"></div>
                        <a href="#"></a><span>연말정산</span></a>
                    </div>
                    <h2>#13월의 월급, 알바생도 받을 수 있다!</h2>
                </div>
                
                <div class="function-box">

                    <!--date, 조회순, url복사-->
                    <span id="sh-link">URL 복사</span>
                    <div class="post-value">
                        <span class="date">📅 2020.00.00  </span>
                        <span class="views">  👀 0000</span>
                    </div>

                </div>
            
            </div> 
            
            <div class="post-img"> <!--img로 넣을지 box로 넣을지-->
                <div class="img-text">
                    <h1>알바생도 받을 수 있는</h1>
                    <h1>13월의 월급!</h1>
                    <p>#연말정산 #원천징수 #야너도_받을_수_있어</p>
                </div>
            </div> <!--end img-->

            <hr>

        </header>

        <div class="post-contents">

            <img class="post-logo" src='{% static "img\tutor-real-logo_3_2.png" %}' alt="TUTOREAL">

            <div class="title-box">
                <div class="title">
                    <div class="contents-bg"></div>
                    <span>연말정산</span>
                </div>
                <h2>'13월의 월급'</h2>
            </div>
            <p>국세청에서 1년 동안 간이세액표에 따라 거둬들인 근로소득세를 연말에 다시 따져보고,</p>
            <p>실소득보다 많은 세금을 냈으면 그만큼을 돌려주고 적게 거뒀으면 더 징수한는 절차</p>
        </div>

        <div class = "postbox-wrapper">
            <div>
                <div class="post-menu">
                    <span class="who">신청 자격</span>
                    <span>신청 방법</span>
                    <span>기타</span>
                    <span>Q&A</span>
                </div>
                <div class="post-box">
                    <div class="post-box1">
                        <p id="one">[신청 자격]</p>
                        <li id="two">*근로자:알바생 중 일반근로소득자 포함(일용근로소득자 제외)</li>
                        <li id="three">*일반근로소득:특정 고용주에게 계속 고용되어 지급받는 급여, 근로계약서 상 근로제공에 대한 시간 혹은 일수나 성과에 의하지 않고 월정액에 의하여 급여를 지급받는 경우<br>
                        *일용근로소득 : 특정 고용주에게 계속 고용되어 있지 않고, 일급이나 시간급 등으로 받는 급여, 급여를 제공한 날이나 시간에 따라 근로 대가를 계산하거나 근로를 제공한 날 혹은 시간의 근로 성과에 따라 급여를 계산하여 지급 / 연말정산 대상에 해당 X, 원천징수로서 납세의무 종결(원납적 원천징수)</li>
                        <li id="ip">https://blog.naver.com/jegyu2014/221918606222</li>
                        <li id="four">* 간단 기준 <br>
                        단기알바, 임시 고용된 일용근로자 혹은 3.3 원천징수하는 사업소득자는 연말정산의 대상이 아닙니다.<br>
                        4대보험을 지급하고 3개월 이상 근무하며 상용근로자로 등록된 알바라면 소속된 회사를 통해 연말 정산이 가능</li>
                    </div>
                </div>
            </div>
            <div>
                <div class="post-menu">
                    <span>신청 자격</span>
                    <span class="how">신청 방법</span>
                    <span>기타</span>
                    <span>Q&A</span>
                </div>
                <div class="post-box">
                    <div class="post-box1">
                        <p id="one">[신청 자격]</p>
                        <li id="two">* 유형별 이용 안내 동영상 : </li>
                        <li id="ip">https://www.nts.go.kr/support/support_03.asp?cinfo_key=MINF6620161219171150&menu_a=30&menu_b=500&menu_c=0</li>
                        <li id="four">* 연말정산 미리보기 : </li>
                        <li id="ip">https://blog.naver.com/ntscafe/221693269777</li>
                    </div>
                </div>
            </div>
            <div>
                <div class="post-menu">
                    <span >신청 자격</span>
                    <span>신청 방법</span>
                    <span class="etc">기타</span>
                    <span>Q&A</span>
                </div>
                <div class="post-box">
                    <div class="post-box1">
                        <p id="one">국세청 : https://www.nts.go.kr/</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="post-menu">
                    <span >신청 자격</span>
                    <span>신청 방법</span>
                    <span>기타</span>
                    <span class="ques">Q&A</span>
                </div>
                <div class="post-box">
                    <div class="post-box1">
                        <p id="one">Q&A : https://m.blog.naver.com/gubgoo/221794824573</p>
                    </div>
                </div>
            </div>
        </div> 
    </div>
        
    <div class = "go-top">
        <img class="up-arrow" src='{% static "img/up_grey_arrow.png" %}' alt="up-arrow"> 맨 위로
    </div>

    <!-- URL 복사 js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script>
        $(document).on("click", "#sh-link", function(e) { 
        // 링크복사 시 화면 크기 고정 
        $('html').find('meta[name=viewport]').attr('content', 'width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no'); 
        var html = "<input id='clip_target' type='text' value='' style='position:absolute;top:-9999em;'/>";
        $(this).append(html); var input_clip = document.getElementById("clip_target"); 
        //현재 url 가져오기
        var _url = $(location).attr('href'); 
        $("#clip_target").val(_url);
        if (navigator.userAgent.match(/(iPod|iPhone|iPad)/)) { var editable = input_clip.contentEditable;
        var readOnly = input_clip.readOnly; 
        input_clip.contentEditable = true; 
        input_clip.readOnly = false; 
        var range = document.createRange(); 
        range.selectNodeContents(input_clip); 
        var selection = window.getSelection(); 
        selection.removeAllRanges(); 
        selection.addRange(range); 
        input_clip.setSelectionRange(0, 999999); 
        input_clip.contentEditable = editable; 
        input_clip.readOnly = readOnly; 
        } else { 
            input_clip.select(); 
        } try { 
            var successful = document.execCommand('copy'); 
            input_clip.blur(); 
            if (successful) { 
            alert("URL이 복사 되었습니다. 원하시는 곳에 붙여넣기 해 주세요."); 
        // 링크복사 시 화면 크기 고정 
        $('html').find('meta[name=viewport]').attr('content', 'width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=yes'); 
        } else { 
        alert('이 브라우저는 지원하지 않습니다.'); 
        } } catch (err) {
            alert('이 브라우저는 지원하지 않습니다.');
            } }); //클립보드 복사
    </script>

{%endblock content%}    
</body>
</html>