{% extends 'navi.html'%}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
      
    {% endblock head %}   
    
</head>
<body>
{% block content %}
    
    <div class="post-page">
        <header class="post-wrapper"> <!--제목, 설명, 이미지, hr까지-->
            <div class="title-box">
                <div class="title">
                    <div class="post-bg"></div>
                    <a href="#"></a><span>연말정산</span></a>
                </div>
                <h2>#13월의 월급, 알바생도 받을 수 있다!</h2>
            </div>
            
            
            
            
            <div class="post-img"> <!--img로 넣을지 box로 넣을지-->
                <div class="img-text">
                    <h1>알바생도 받을 수 있는</h1>
                    <h1>13월의 월급!</h1>
                    <p>#연말정산 #원천징수 #야너도_받을_수_있어</p>
                </div>
            </div> <!--end img-->

            <hr>


        </header>

    </div>

{%endblock content%}    
</body>
</html>