{% extends 'navi.html'%}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>    
    {% block head %}
      
    {% endblock head %}
</head>

<body>
{% block content %}
    <header>
        <div id="finance-contents" class="wrapper">

            <div class="contents-header"> 
                <div class="title">
                    <div class="search-bg">
                        <span>"{{ q }}"에 대해서 궁금하다면...? 🤔&nbsp;</span>
                    </div>

                </div>

                <div id="sort" class="wrapper">
                    <div class="select_wrap">
                        <ul class="default_option">
                            <li>
                                <div class="option update">
                                    <p>업데이트 순</p>
                                </div>
                            </li>
                        </ul>
                        <ul class="select_ul">
                            <li>
                                <div class="option new">
                                    <p>최신 순</p>
                                </div>
                            </li>
                            <li>
                                <div class="option click">
                                    <p>조회 순</p>
                                </div>  
                            </li>
                            <li>
                                <div class="option title">
                                    <p>제목 순</p>
                                </div>  
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <hr>

    </header>

    {% if not blogs %}
        <h4 style="text-align :center ">검색 결과가 없습니다</h4>

    {% else %}
        {% for blog in blogs.all %}

        <div class="contents wrapper">
            <div class="item">
                <a href="{% url ''%}">
                <!--해당 컨텐츠 세부페이지로 이동-->
                <p class="title">{{ blog.title }}</p>
                <div class="explain">
                    <p>{{ blog.tag }}</p>
                    <p class="date">{{ blog.date }}</p>
                </div>
                </a>
            </div>        
        </div>
        <br>
        {% endfor %}
    {% endif %}



    



    <footer>

    </footer>

{% endblock content %}
</body>
</html>