{% extends 'navi.html'%}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
      
    {% endblock head %}   
    
</head>
<body>
{% block content %}
    
    <div class="post-page">
        <header class="post-wrapper"> <!--제목, 설명, 이미지, hr까지-->
            
            <div class="post-header">
                <div class="title-box">
                    <div class="title">
                        <div class="wel-3-bg"></div> <!--페이지별 형광펜 길이-->
                        <span><!--메인제목-->국민 내일 배움 카드</span>
                    </div>
                    <h2><!--부제목-->#배우고_싶을_때_배우자</h2>
                </div>
                
                <div class="function-box">

                    <!--date, 조회순, url복사-->
                    <span id="sh-link">URL 복사</span>
                    <div class="post-value">
                        <span class="date">📅 2020.09.04  </span> <!--날짜수정-->
                        <span class="views">  👀 0000</span>
                    </div>

                </div>
            
            </div> 
            
            <div class="post-img"> <!--post title img-->
                <img src="{% static 'img/post_welfare_3.jpg'%}"> <!--페이지에 맞는 이미지 넣기-->
            </div> 

            <hr>

        </header>

        <div class="post-contents">

            <img class="post-logo" src='{% static "img\tutor-real-logo_3_2.png" %}' alt="TUTOREAL">

            <div class="title-box">
                <div class="title">
                    <div class="contents-bg "></div>
                    <span><!--메인제목-->국민 내일 배움 카드</span>
                </div>
                <h2><!--부제--></h2>
            </div>
            <p>취업이 막막한 튜티들 모여라! 기술을 배워 취업하고 싶은데 돈도 없고 어디서 무엇을 배워야 할지 깜깜하다면? 😰 나라에서 지원해주는 돈으로 공부하고 스펙 쌓자! 📈📈</p>
            <p>구직자뿐만 아니라 이미 취업한 재직자에게 특화된 수업들도 가득! 능력 개발의 기회가 눈앞에!😲 고용노동부에서 주관하고 전국 고용센터에서 운영하는 국민 내일 배움 카드!</p>
            <br>
            <p>제과제빵🥐🍞, 바리스타☕🍵, 조리 자격증🍳🍽 부터 컴퓨터 능력💻🖥, 빅데이터📊📋, 미용✂✂까지! 알짜 수업들이 가득! 내 적성에 맞는 수업으로 골라 듣자! 😉</p>
            <br>
            <p>자세한 내용은 하단 참고자료에 HRD-Net 홈페이지 들어가서 확인🔍</p>
        </div>

        <div class = "postbox-wrapper">
            <div>
                <div class="post-menu">
                    <a id="who" href="#who">신청 자격</a>
                    <a href="#how">신청 방법</a>
                    <a href="#etc">참고 사항</a>
                    <a href="#ques">알아 두기</a>
                </div>
                <div class="post-box">
                    <div class="post-box1"> <!--p/h2/#gray/#red/#blue/#min/#highlight(span)/#qna-->
                        <h2>자신의 경쟁력을 키우고 싶은 대한민국 구직자, 재직자 누구나 참여 가능👩🧑</h2>
                        <p>‼하지만‼ 사립학교 교직원이나 공무원, 졸업예정자가 아닌 재학생, 연 매출 1억 5천만 원 이상의 자영업자. 월 임금 300만 원 이상인 45세 미만의 대기업 근로자, *특수형태 근로자는 제외된다는 점 유의하자! ❌❌</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="post-menu">
                    <a href="#who">신청 자격</a>
                    <a id="how" href="#how">신청 방법</a>
                    <a href="#etc">참고 사항</a>
                    <a href="#ques">알아 두기</a>
                </div>
                <div class="post-box">
                    <div class="post-box1"> <!--p/h2/#gray/#red/#blue/#min/#highlight(span)/#qna-->
                        <p>- <span id="highlight">가까운 고용센터</span>에 방문해 오프라인🏃‍♀️으로 신청하거나 <span id="highlight">HRD-Net</span>을 통해 <span id="highlight">온라인</span>💻으로 신청할 수 있으니 편한 방법을 선택하도록 해!</p>
                        <p>- 앗‼ 온라인으로 신청할 때는 공인인증서가 필요하니 <span id="highlight">공인인증서</span> 준비하는 거! 잊으면 안돼!🙆‍♂️</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="post-menu">
                    <a href="#who">신청 자격</a>
                    <a href="#how">신청 방법</a>
                    <a id="etc" href="#etc">참고 사항</a>
                    <a href="#ques">알아 두기</a>
                </div>
                <div class="post-box">
                    <div class="post-box1"> <!--p/h2/#gray/#red/#blue/#min/#highlight(span)/#qna-->
                        <p>- 실업, 재직, 자영업 여부와 관계없이 국민내일배움카드 <span id="highlight">한 장으로 5년간 사용</span>💳 가능해! </p>
                        <p>- 개인당 300~500만 원의 훈련비용을 지원해주는 꼴이니 놓치면 손해 보는 거라고! </p>
                        <p>- 개인의 훈련 이력, 계좌잔액 등의 정보는 <span id="highlight">HRD-Net을 통해 실시간 확인 가능!</span></p>
                    </div>
                </div>
            </div>
            <div>
                <div class="post-menu">
                    <a href="#who">신청 자격</a>
                    <a href="#how">신청 방법</a>
                    <a href="#etc">참고 사항</a>
                    <a id="ques" href="#ques">알아 두기</a>
                </div>
                <div class="post-box">
                    <div class="post-box1"> <!--p/h2/#gray/#red/#blue/#min/#highlight-->
                        <p>- 훈련비 일부를 자부담💸 해야 하는 수업들도 더러 있어! </p>
                        <p>이 훈련비는 직종별 취업률에 따라 15% ~ 55% 선에서 차등으로 자부담이 부과돼 </p>
                        <p id="gray">(일반사무, 회계, 바리스타, 제과제빵, 문화콘텐츠 제작 등은 자부담 5%p가 추가 부담해야 한다는 점!) </p>
                        <p>- 정부지원 사업으로 지원 금액이 큰 만큼 대략 6개월 안팎의 기간 동안 수업을 들어야 해👩‍🏫👨‍🏫 시간적 여유가 있는지 확인하는 게 좋겠지?⏱</p>
                    </div>
                </div>
            </div>
            <div class="ref">
                <div class="hash">
                    <span>#청년</span> <span>#복지</span> <span>#금전지원</span> <span>#취준생</span> <span>#막학기</span> <span>#재직자</span> <span>#교육</span>
                </div>
                <div class="reference">
                    <h2>참고자료</h2>
                    <p>HRD-Net 국민내일배움카드</p>
                    <a href="#" onclick="window.open('http://www.hrd.go.kr/hrdp/gi/pgibo/PGIBO0100T.do')">http://www.hrd.go.kr/hrdp/gi/pgibo/PGIBO0100T.do</a>
                </div>
            </div>
        </div> 
    </div>
        
    <div id="TopButton" class = "go-top">
        <img class="up-arrow" src='{% static "img/up_grey_arrow.png" %}' alt="up-arrow"> 맨 위로 
    </div>

    <!-- URL 복사 js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script>
        $(document).on("click", "#sh-link", function(e) { 
        // 링크복사 시 화면 크기 고정 
        $('html').find('meta[name=viewport]').attr('content', 'width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no'); 
        var html = "<input id='clip_target' type='text' value='' style='position:absolute;top:-9999em;'/>";
        $(this).append(html); var input_clip = document.getElementById("clip_target"); 
        //현재 url 가져오기
        var _url = $(location).attr('href'); 
        $("#clip_target").val(_url);
        if (navigator.userAgent.match(/(iPod|iPhone|iPad)/)) { var editable = input_clip.contentEditable;
        var readOnly = input_clip.readOnly; 
        input_clip.contentEditable = true; 
        input_clip.readOnly = false; 
        var range = document.createRange(); 
        range.selectNodeContents(input_clip); 
        var selection = window.getSelection(); 
        selection.removeAllRanges(); 
        selection.addRange(range); 
        input_clip.setSelectionRange(0, 999999); 
        input_clip.contentEditable = editable; 
        input_clip.readOnly = readOnly; 
        } else { 
            input_clip.select(); 
        } try { 
            var successful = document.execCommand('copy'); 
            input_clip.blur(); 
            if (successful) { 
            alert("URL이 복사 되었습니다. 원하시는 곳에 붙여넣기 해 주세요."); 
        // 링크복사 시 화면 크기 고정 
        $('html').find('meta[name=viewport]').attr('content', 'width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=yes'); 
        } else { 
        alert('이 브라우저는 지원하지 않습니다.'); 
        } } catch (err) {
            alert('이 브라우저는 지원하지 않습니다.');
            } }); //클립보드 복사
    </script>

    <!--맨 위로 가기 버튼 js-->
    <script>
    $(function() {     
        $("#TopButton").click(function() {
            $('html,body').animate({scrollTop:0},600);
        });
    }); 
    </script>

{%endblock content%}    
</body>
</html>