{% extends 'navi.html'%}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
      
    {% endblock head %}
    <link rel='stylesheet' href='{% static "style.css" %}'/>
</head>
<body>
{% block content %}
        <header id="home-header">

        </header>
        
        <div id="finance-contents" class="wrapper">

            <div class="contents-header"> <!--이름을 다시 지어보자...-->
                <div class="title">
                    <div class="sub-bg"></div>
                    <a href="#"></a><span>복지</span></a>
                </div>

                <div class="sort">
                    <select name="wmenu">
                        <option value = "wname">제목순</option>
                        <option value = "wupdate">업데이트순</option>
                        <option value = "wcheck">조회순</option>
                    </select>
                </div>
            </div>

            <hr>

            <div class="contents">
                <div class="item">
                    <img class="img">
                    <p class="title">TITLE</p>
                    <div class="explain">
                        <p class="ex">example</p>
                        <p>2020.08.08</p>
                    </div>
                </div>
            
            </div>

        </div>

        <footer>

        </footer>
        </div>
{%endblock content%}
</body>
</html>