{% extends 'navi.html'%}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
      
    {% endblock head %}
</head>
<body>
{% block content %}
    <header>
        <div id="finance-contents" class="wrapper">

            <div class="contents-header"> 
                <div class="title">
                    <div class="sub-bg"></div>
                    <a href="#"></a><span>복지 🤝</span></a>
                </div>

                <div id="sort" class="wrapper">
                    <div class="select_wrap">
                        <ul class="default_option">
                            <li>
                                <div class="option update">
                                    <p>업데이트 순</p>
                                </div>
                            </li>
                        </ul>
                        <ul class="select_ul">
                            <li>
                                <div class="option new">
                                    <p>최신 순</p>
                                </div>
                            </li>
                            <li>
                                <div class="option click">
                                    <p>조회 순</p>
                                </div>  
                            </li>
                            <li>
                                <div class="option title">
                                    <p>제목 순</p>
                                </div>  
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <hr>
    </header>

    <div class="contents wrapper"> <!--위에서부터 추가 (1번째 post가 맨 밑으로 가도록-->
        
        <!--wel_post_3 : 국민 내일 배움 카드-->
        <div class="item">
            <a href="{% url 'wel_post_3'%}">
                <img src="{% static 'img/thumbnail_welfare_3.jpg'%}" class="img">
                <p class="title">국민 내일 배움 카드</p>
                <div class="explain">
                    <p>#배우고_싶을_때_배우자</p>
                    <p class="date">2020.09.04</p>
                </div>
            </a>
        </div>


        <!--wel_post_2 : 국가장학금-->
        <div class="item">
            <a href="{% url 'wel_post_2'%}">
                <img src="{% static 'img/thumbnail_welfare_2.jpg'%}" class="img">
                <p class="title">국가장학금</p>
                <div class="explain">
                    <p>#나라가_주는_장학금</p>
                    <p class="date">2020.09.03</p>
                </div>
            </a>
        </div>
        
        <!--wel_post_1 : 구직활동지원금-->
        <div class="item">
            <a href="{% url 'wel_post_1'%}">
                <img src="{% static 'img/thumbnail_welfare_1.jpg'%}" class="img">
                <p class="title">구직활동지원금</p>
                <div class="explain">
                    <p>#취준할_돈은_땅에서_솟나요</p>
                    <p class="date">2020.08.28</p>
                </div>
            </a>
        </div>

    </div>

{%endblock content%}
</body>
</html>