{% extends 'navi.html'%}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
      
    {% endblock head %}
</head>
<body>
{% block content %}
    <header>
        <div id="finance-contents" class="wrapper">

            <div class="contents-header"> 
                <div class="title">
                    <div class="sub-bg"></div>
                    <a href="#"></a><span>복지 🤝</span></a>
                </div>

                <div id="sort" class="wrapper">
                    <div class="select_wrap">
                        <ul class="default_option">
                            <li>
                                <div class="option update">
                                    <p>업데이트 순</p>
                                </div>
                            </li>
                        </ul>
                        <ul class="select_ul">
                            <li>
                                <div class="option new">
                                    <p>최신 순</p>
                                </div>
                            </li>
                            <li>
                                <div class="option click">
                                    <p>조회 순</p>
                                </div>  
                            </li>
                            <li>
                                <div class="option title">
                                    <p>제목 순</p>
                                </div>  
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <hr>
    </header>

    <div class="contents wrapper">
        <div class="item">
            <a href="{% url 'wel_post_1'%}">
             <!--해당 컨텐츠 세부페이지로 이동-->
                <img src="{% static 'img/thumbnail_welfare_1.jpg'%}" class="img">
                <p class="title">구직활동지원금</p>
                <div class="explain">
                    <p>#취준할_돈은_땅에서_솟나요</p>
                    <p class="date">2020.08.31</p>
                </div>
            </a>
        </div>
    </div>


    <footer>

    </footer>

{%endblock content%}
</body>
</html>