@charset "UTF-8";

/***********  공통  ***************/

html {
    font-size: 100%;
    /*스크롤 영역 따로 빼기*/
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
}
body {
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
    color : black;
    margin: 0;
}


a {
    text-decoration: none;
}

.wrapper {
    max-width: 1520px;
    margin: 0 auto;
}

/*nav*/
.nav-wrapper {
    /*부트스트랩 적용으로 여백이 바뀐 nav*/
    max-width: 1650px;
    margin: 0 auto;
}
.nav-list {
    display: flex;
    list-style: none;
}
.nav-list li{
    font-size : 1.5rem;
    font-weight: 900;
    letter-spacing: 0px;
    white-space: nowrap;
}

.navbar-nav{
    display: flex;
    list-style: none;
}

.nav-list a {
    text-decoration: none;
    color : #3B48F2;
}
.nav-list a:hover {
    color : #5FFCE7;
}

.logo {
    width: 181px;
    height: 44px;
    margin: 38px auto;
}

.search-box {
    position: relative;
    white-space: nowrap;
}

#search { /*디테일 수정 필요*/
    width : 260px;
    height: 44px;
    /*background: #FFFFFF 0% 0% no-repeat padding-box;*/
    border: 2px solid #3B48F2;
    border-radius: 15px;
    margin: 38px 78px;
    padding-left: 20px;
    font-size: 1rem;
    
}


.navigation { /* nav-list + logo + search */
    display: flex;
    justify-content: space-between;
}

.navbar{
    display: flex;
    justify-content: space-between;
}


/*home-header*/


#home-navi{
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
.frame {
    background-color: #3B48F2;
    height: 60px;
}


/*img slider*/
.carousel-inner{
    height: 680px;
}

.carousel .carousel-indicators li {
    width: 10px;
  height: 10px;
  border-radius: 100%;
}

/*home-contents*/

#home-contents {
    margin: 80px auto;
}

.contents-header{
    display: flex;
    justify-content: space-between;
}

.title span{
    font-weight: 900;
    font-size: 3.75rem;
    letter-spacing: 0px;
    color: #3B48F2;
    margin-left: 8px;
    position: relative;
}

.title div{
    background-color: #5ffce7;
    margin-top: 32px;
    height: 28px;
    position: absolute;
}

.contents {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 80px;
}


.item a {
    color:black;
}
.item a:hover{
    text-decoration: none;
    color: #5FFCE7;
}


.item img{
    background-color: gray;
    width: 480px; height: 270px;
    border-radius: 15px;
}
.item .title{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 20px 20px 9px;
}

.explain {
    display: flex;
    justify-content: space-between;
}

.explain p {
    font-weight: normal;
    margin: 0 20px;
    font-size: 1.125rem;   
}

.explain .date {
    color : #B2B2B2;
}


/************************** finance-contents*/
*{
    list-style: none;
}

#finance-contents {
    margin: 60px auto;
}

.title .sub-bg {
    width: 215px;
}

/*SELECT BAR TEST*/

#sort{
    margin-top: 35px;
    margin-right: 20px;
}

.select_wrap{
    position: relative;
    user-select: none;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
  }

.select_wrap .default_option{
    border: 1px solid #3B48F2;
    width: 200px;
    height: 44px;
    border-radius: 0px;
    position: relative;
    cursor: pointer;
  }

.select_wrap .default_option li{
    margin-top:16px;
    padding-left : 15px;
    width: 180px;
    height: 20px;
    transform: translate(-10%,-50%);
  }

.select_wrap .default_option:before{/*클릭 전 커서*/
    content: "";
    position: absolute;
    top: 12px;
    right: 18px;
    width: 6px;
    height: 6px;
    border: 4px solid;
    border-color: transparent transparent #3B48F2 #3B48F2;
    transform: rotate(-45deg);
  }
  .select_wrap .select_ul{
    position: absolute;
    top: 45px;
    left: 0;
    width: 200px;
    background: #fff;
    border: 1px solid #3B48F2;
    display: none;
    padding-top: 10px;
  }
.select_wrap .select_ul li{
    cursor: pointer;
  }

 .select_wrap.active .select_ul{
    display: block;
  }
  
.select_wrap.active .default_option:before{
    top: 22px;
    transform: rotate(-225deg);
  }
  
/*SELECT BAR TEST END*/

/* 기존 select bar 소스
.sort select{
    margin-top: 30px;
    width: 200px; #원하는 너비설정
    height: 44px;
    border: 1px solid #3B48F2;  #테두리 설정
    padding-left: 20px;        
    border-radius: 0px; iOS #둥근모서리 제거
    -webkit-appearance: none; #네이티브 외형 감추기
    -moz-appearance: none;
    appearance: none;
    background: url(down-arrow.png) no-repeat right 130px center;
} 
*/
#finance-contents hr {
    margin: 60px auto 80px ;
    border: 1px solid #3B48F2;
}

/*****************************post*/

.post-page {
    max-width: 1444px;
    margin: 60px auto;
    box-shadow: 0px 3px 6px #00000029;
}

.post-wrapper {
    padding: 40px;
}

/*  header 안에 post-header(title-box + function-box) + post-img */

.post-header {
    display: flex;
    justify-content: space-between;
}

.title-box h2{
    font-size: 1.5rem;
    font-weight: 700;
    margin: 8px 10px 38px;
}

.function-box {
    text-align: right;
    height: 55px;
    margin-top: 75px;
}

/*post - url 복사, views, date*/
#sh-link {
    font-size: 13px;
    border: 1px solid #B2B2B2;
    border-radius: 5px;
    padding : 3px 9px;
}
.post-value {
    display: flex;
    justify-content: space-between;
    width: 172px;
    margin-top: 8px;
    font-size: 16px;
    font-weight: 300;
    color: #B2B2B2;
}


/*======================================= 
post의 title 형광펜 
=========================================*/

.title .fi-1-bg {width: 372px;} 

.title .wel-1-bg {width: 403px;}
.title .wel-2-bg {width: 292px;}
.title .wel-3-bg {width: 499px;}

.title .ho-1-bg {width: 458px;}
.title .ho-2-bg {width: 237px;}






/*========================================*/




/* nav바 적용하면서 추가한 css들*/
.container-xl{
    margin-right : 40px !important;
    margin-left : 40px !important;
    max-width: 100% !important;
}

.form-control{
    height : 44px !important;
    width : 260px !important;
    border : 2px solid #3B48F2 !important;
    border-radius: 15px !important;
    font-size : 1rem !important;
}

.navbar-nav{
    margin-left : 20px !important;
    width : 100%;
    margin-bottom: 10px !important;
    display: flex;
}

.form-control{
    margin-left : 30px !important;
}


.liw{
    flex: 1;
    margin-top: 10px;
}

#imgpadding{
    margin-right : 120px;
}
/* nav바 적용하면서 추가한 css들 end*/



.post-page hr {
    margin: 40px auto 60px ;
    border: 1px solid #1d258d56; /*1px 미만은 적용이 안되니까 투명도로 비슷한 효과 내기*/
}

.post-contents {
    text-align: center;
    margin-bottom: 110px;
}

.post-logo {
    margin-bottom: 68px;
}

.post-contents .title-box {
    margin-bottom: 20px;
}

.post-contents p {
    line-height: 1rem;
    font-size: 1.125rem;
}

/*post-detail*/

.post-menu {
    text-align: center;
    font-size: 1.5rem;
    margin : 80px 110px 16px 110px;
    display: flex;
    justify-content: space-between;
}

.post-menu a{
    font-weight: 900;
    width: 200px;
    height: 120px;
    box-shadow: 0px 10px #B2B2B2;
    color:#B2B2B2;
    text-decoration-line: none;
    padding-top: 60px;
}

.post-menu #who{
    box-shadow: 0px 10px #3B48F2;
    color:#3B48F2;
}
.post-menu #how{
    box-shadow: 0px 10px #3B48F2;
    color:#3B48F2;
}
.post-menu #etc{
    box-shadow: 0px 10px #3B48F2;
    color:#3B48F2;
}
.post-menu #ques{
    box-shadow: 0px 10px #3B48F2;
    color:#3B48F2;
}

.postbox-wrapper{
    padding-bottom: 80px;
}

.post-box{
    border: 3px solid #3B48F2;
    margin: 26px 40px;
}

.post-box1{
    text-align: left;
    margin : 80px 138px;
}

/* .post-box1 #one{
    font-weight: bold;
    font-size : 24px;
}

.post-box #two{
    top: 63px;
    font-size:18px;
    margin-top:27px;
} 

.post-box #three{
    text-align: left;
    font-size: 16px;
    letter-spacing: 0px;
    color: #B2B2B2;
    margin-top:27px;
} 

.post-box #four{
    text-align: left;
    font-size: 18px;
    letter-spacing: 0px;
    color: #000000;
    margin-top:27px;
} 

.post-box #ip{
    text-align: left;
    font-size:16px;
    letter-spacing: 0px;
    color: #3B48F2;
    margin-top:27px;
}  */

 /*
 ==============================
 post 페이지 하단 4개박스 text style
 ==============================
 */
.post-box1 .post-table {
    display: flex;
}

.blue-box {
    width : 122px;
    border-radius: 15px;
    background-color: #3B48F2;
    color: #fff;
    text-align: center;
    padding: 24px 10px;
    margin-right: 16px;
}

.list-box {
    margin: auto 0px;
}

 .post-box1 p{
    font-size:18px;
}
.post-box1 h2{
    font-size: 24px;
    font-weight: bold;
    margin: 18px 0;
}
.post-box1 #red {
    color: #D32F2F;
}
.post-box1 #blue {
    color: #3B48F2;
}
.post-box1 #gray {
    color: #B2B2B2;
}
.post-box1 #min {
    font-size: 16px;
}
.post-box1 #qna {
    color: #3B48F2;
    font-size: 24px;
    font-weight: 900;
}

#highlight {
    background: linear-gradient(to top, #5FFCE7 35%, transparent 35%);
}


/* hash tag, reference */

.ref {
    display: flex;
    justify-content: space-between;
    margin: 80px 46px;
    font-size: 16px;
    color: #B2B2B2;
    font-weight: 300;
}
.hash span{
    margin-right: 10px;
}

.reference {
    text-align: right;
    line-height: 32px;
}
.reference p{
    margin-bottom: auto;
}

.reference h2{
    font-size: 18px;
    color: black;
}
.reference a{
    color: #3B48F2;
    text-decoration-line: none;
}






.go-top{
    width: 300px;
    height: 100px;
    box-shadow: 0px 3px 6px #00000029;
    border: 3px solid #B2B2B2;
    border-radius: 10px;
    margin: 0 auto;
    padding : 32px 89px;
    color: #B2B2B2;
    font-size: 24px;
    font-weight: bold;
}

/* Topbutton */

  /* 두 태그에 각각 y 위치 입력 */
  #TopButton {
    bottom: 108px;        
  }

/*footer*/

#footer{
    background-color: #3B48F2;
    height: 230px; 
    margin-top: 80px;
}

.footer-wrapper{
    display: flex;  
    color: #FFFFFF;
    padding-top:65px;
}
.flogo{
    width : 100px;
    height: 98px;
    margin-top : 5px;
    margin-right: 40.18px;
}

.footer-detail1{
    justify-content: space-between;
    height: 55px;
    margin-top:17px;
    line-height: 40px;
}

/* ================
Calendar Styling */

.clearfix::after,
.calendar ol::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.calendar {
    border-radius: 10px;
    width: 100%;
}
.cal-bg {
    background-color: #5ffce7;
    margin-top: 20px;
    width: 160px;
    height: 28px;
    position: absolute;
}

.month {
    font-size: 2rem;
    padding-bottom: 2rem;
    z-index: 1;
    color: #3B48F2;
}


@media (min-width: 992px) {
  .month {
    font-size: 3.5rem;
  }
}

.calendar ol li {
    float: left;
    width: 14.28571%;
}

.calendar .day-names {
    border-bottom: 1px solid #eee;
}

.calendar .day-names li {
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.calendar .days li {
    border-bottom: 1px solid #eee;
    min-height: 8rem;
}

.calendar .days li .date {
    margin: 0.5rem 0;
}

.calendar .days li .event {
    text-align: center;
    font-size: 1rem;
    padding: 0.4rem;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 4rem;
    margin-bottom: 1px;
}

.calendar .days li .event.span-2 {
    width: 200%;
}

.calendar .days li .event.span-4 {
    width: 400%;
}


.calendar .days li .event.begin {
    border-radius: 1rem 0 0 1rem;
}

.calendar .days li .event.end {
    border-radius: 0 1rem 1rem 0;
}

.calendar .days li .event.clear {
  background: none;
}

.calendar .days li:nth-child(n+29) {
  border-bottom: none;
}

.calendar .days li.outside .date {
  color: #ddd;
}


/*intro page*/

.intro-page {
    text-align: center;
}

/* pull */