@charset "UTF-8";

/***********  공통  ***************/

html {
    font-size: 100%;
    /*스크롤 영역 따로 빼기*/
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
}
body {
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
    color : black;
    margin: 0;
}


a {
    text-decoration: none;
}

.wrapper {
    max-width: 1520px;
    margin: 0 auto;
}

/*nav*/
.nav-list {
    display: flex;
    list-style: none;
}
.nav-list li{
    font-size : 1.5rem;
    font-weight: 900;
    letter-spacing: 0px;
    white-space: nowrap;
}

.navbar-nav{
    display: flex;
    list-style: none;
}

.nav-list a {
    text-decoration: none;
    color : #3B48F2;
}
.nav-list a:hover {
    color : #5FFCE7;
}

.logo {
    width: 181px;
    height: 44px;
    margin: 38px auto;
}

.search-box {
    position: relative;
    white-space: nowrap;
}

#search { /*디테일 수정 필요*/
    width : 260px;
    height: 44px;
    /*background: #FFFFFF 0% 0% no-repeat padding-box;*/
    border: 2px solid #3B48F2;
    border-radius: 15px;
    margin: 38px 78px;
    padding-left: 20px;
    font-size: 1rem;
    
}

.search-box .icon {
    position: absolute;
    z-index: 1;

}


.navigation { /* nav-list + logo + search */
    display: flex;
    justify-content: space-between;
}

.navbar{
    display: flex;
    justify-content: space-between;
}


/*home-header*/


#home-navi{
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
.frame {
    background-color: #3B48F2;
    height: 60px;
}


/*img slider*/
.carousel-inner{
    height: 680px;
}

.carousel .carousel-indicators li {
    width: 10px;
  height: 10px;
  border-radius: 100%;
}

/*home-contents*/

#home-contents {
    margin: 80px auto;
}

.contents-header{
    display: flex;
    justify-content: space-between;
}

.title span{
    font-weight: 900;
    font-size: 3.75rem;
    letter-spacing: 0px;
    color: #3B48F2;
    margin-left: 8px;
    position: relative;
}

.title div{
    background-color: #5ffce7;
    margin-top: 32px;
    width: 455px;
    height: 28px;
    position: absolute;
}


.contents {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 80px;
}


.item a {
    color:black;
}
.item a:hover{
    text-decoration: none;
    color: #5FFCE7;
}


.item img{
    background-color: gray;
    width: 480px; height: 270px;
    border-radius: 15px;
}
.item .title{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 20px 20px 9px;
}

.explain {
    display: flex;
    justify-content: space-between;
}

.explain p {
    font-weight: normal;
    margin: 0 20px;
    font-size: 1.125rem;   
}

.explain .date {
    color : #B2B2B2;
}


/************************** finance-contents*/
*{
    list-style: none;
}

#finance-contents {
    margin: 60px auto;
}

.title .sub-bg {
    width: 215px;
}

/*SELECT BAR TEST*/

#sort{
    margin-top: 35px;
    margin-right: 20px;
}

.select_wrap{
    position: relative;
    user-select: none;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
  }

.select_wrap .default_option{
    border: 1px solid #3B48F2;
    width: 200px;
    height: 44px;
    border-radius: 0px;
    position: relative;
    cursor: pointer;
  }

.select_wrap .default_option li{
    margin-top:16px;
    padding-left : 15px;
    width: 180px;
    height: 20px;
    transform: translate(-10%,-50%);
  }

.select_wrap .default_option:before{/*클릭 전 커서*/
    content: "";
    position: absolute;
    top: 12px;
    right: 18px;
    width: 6px;
    height: 6px;
    border: 4px solid;
    border-color: transparent transparent #3B48F2 #3B48F2;
    transform: rotate(-45deg);
  }
  .select_wrap .select_ul{
    position: absolute;
    top: 45px;
    left: 0;
    width: 200px;
    background: #fff;
    border: 1px solid #3B48F2;
    display: none;
    padding-top: 10px;
  }
.select_wrap .select_ul li{
    cursor: pointer;
  }

 .select_wrap.active .select_ul{
    display: block;
  }
  
.select_wrap.active .default_option:before{
    top: 22px;
    transform: rotate(-225deg);
  }
  
/*SELECT BAR TEST END*/

/* 기존 select bar 소스
.sort select{
    margin-top: 30px;
    width: 200px; #원하는 너비설정
    height: 44px;
    border: 1px solid #3B48F2;  #테두리 설정
    padding-left: 20px;        
    border-radius: 0px; iOS #둥근모서리 제거
    -webkit-appearance: none; #네이티브 외형 감추기
    -moz-appearance: none;
    appearance: none;
    background: url(down-arrow.png) no-repeat right 130px center;
} 
*/
#finance-contents hr {
    margin: 60px auto 80px ;
    border: 1px solid #3B48F2;
}

/*****************************post*/

.post-page {
    max-width: 1444px;
    margin: 60px auto;
    box-shadow: 0px 3px 6px #00000029;
}

.post-wrapper {
    padding: 40px;
}

/*  header 안에 post-header(title-box + function-box) + post-img */

.post-header {
    display: flex;
    justify-content: space-between;
}

.function-box {
    margin-top: 60px;
    text-align: right;
}

.title .post-bg {
    width: 237px;
}

.title-box h2{
    font-size: 1.5rem;
    font-weight: 700;
    margin: 8px 10px 38px;
}


.post-img {
    width: 1364px;
    height: 380px;
    background-color: #0F1236;
    color: white;
    text-align: center;
    line-height: 60px;
}

.img-text {
    padding-top: 80px;
}

.post-img h1 {
    font-size: 3.75rem;
    font-weight: 900;     
}

.post-img p {
    font-size: 1.125rem;
}

/* nav바 적용하면서 추가한 css들*/
.container-xl{
    margin-right : 40px !important;
    margin-left : 40px !important;
    max-width: 100% !important;
}

.form-control{
    height : 44px !important;
    width : 260px !important;
    border : 2px solid #3B48F2 !important;
    border-radius: 15px !important;
    font-size : 1rem !important;
}

.navbar-nav{
    margin-left : 20px !important;
    width : 100%;
    margin-bottom: 10px !important;
    display: flex;
}

.form-control{
    margin-left : 30px !important;
}


.liw{
    flex: 1;
    margin-top: 10px;
}

#imgpadding{
    margin-right : 120px;
}
/* nav바 적용하면서 추가한 css들 end*/



.post-page hr {
    margin: 40px auto 60px ;
    border: 1px solid #1d258d56; /*1px 미만은 적용이 안되니까 투명도로 비슷한 효과 내기*/
}

.post-contents {
    text-align: center;
}

.post-logo {
    margin-bottom: 68px;
}
.title .contents-bg {
    width: 237px;
    left: 50%;
}

.post-contents .title-box {
    margin-bottom: 20px;
}

.post-contents p {
    line-height: 1rem;
    font-size: 1.125rem;
}

/*post-detail*/

.post-menu {
    text-align: center;
    font-size: 1.5rem;
    margin : 80px 110px 16px 110px;
    display: flex;
    justify-content: space-between;
}

.post-menu span{
    font-weight: 900;
    width: 200px;
    height: 66px;
    box-shadow: 0px 10px #B2B2B2;
    color:#B2B2B2;
}

.post-menu .who{
    box-shadow: 0px 10px #3B48F2;
    color:#3B48F2;
}
.post-menu .how{
    box-shadow: 0px 10px #3B48F2;
    color:#3B48F2;
}
.post-menu .etc{
    box-shadow: 0px 10px #3B48F2;
    color:#3B48F2;
}
.post-menu .ques{
    box-shadow: 0px 10px #3B48F2;
    color:#3B48F2;
}

.postbox-wrapper{
    padding-bottom: 80px;
}

.post-box{
    border: 3px solid #3B48F2;
    margin: 26px 40px;
}

.post-box1{
    text-align: left;
    margin : 80px 138px;
}

.post-box1 #one{
    font-weight: bold;
    font-size : 24px;
}

.post-box #two{
    top: 63px;
    font-size:18px;
    margin-top:27px;
}

.post-box #three{
    text-align: left;
    font-size: 16px;
    letter-spacing: 0px;
    color: #B2B2B2;
    margin-top:27px;
}

.post-box #four{
    text-align: left;
    font-size: 18px;
    letter-spacing: 0px;
    color: #000000;
    margin-top:27px;
}

.post-box #ip{
    text-align: left;
    font-size:16px;
    letter-spacing: 0px;
    color: #3B48F2;
    margin-top:27px;
}

.go-top{
    width: 300px;
    height: 100px;
    box-shadow: 0px 3px 6px #00000029;
    border: 3px solid #B2B2B2;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
    padding:30px;
    color: #B2B2B2;
    font-size:24px;
    font-weight: bold;
}

/*footer*/

#footer{
    background-color: #3B48F2;
    height: 230px; 
    margin-top: 80px;
}

.footer-wrapper{
    display: flex;  
    color: #FFFFFF;
    padding-top:65px;
}
.flogo{
    width : 100px;
    height: 98px;
    margin-top : 5px;
}

.footer-detail{
    justify-content: space-between;
    display: flex;
    text-align: justify;
    width: 1300px;
    height: 98px;
    margin-left: 20px;
}

/* pull */